# 所有虛擬環境
venv/
**/venv/

# Python 檔案暫存
__pycache__/
*.pyc
*.pyo
*.log

# Flask / Django
*.sqlite3
instance/
.env
api-flask/vision-ai-test-458916-49a35b9361d5.json

# Node 前端
node_modules/
build/
dist/

# 系統/編輯器
.DS_Store
.vscode/
Thumbs.db
